.parallax {
  position: relative;
}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-style:italic;
  letter-spacing: -0.02em;
}

.scroller span {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 2rem;
    line-height: 1rem;
    padding: 0.1 0rem;
    margin: 0.8rem;
  }
}
